    <div class="container-fluid">
        <div class="row" [style.padding]="'0px 50px'">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="d-flex justify-content-start align-items-center pt-4">
                    <p class="logo">PricePixel</p>
                    <ul class="nav-links">
                        <li routerLink="home" routerLinkActive="active">Home</li>
                        <!-- <li routerLink="how-it-works" routerLinkActive="active">How it works?</li> -->
                        <li>Help & support</li>
                        <li>Contact Us</li>
                        <li>Settings</li>
                        <li>User</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    
    