.nav-links{
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-weight: 700;
    cursor: pointer;
    /* background: white; */
    /* margin-top: 20px; */
    /* border-radius: 30px; */
    /* padding: 20px; */
    width: 100%;
    justify-content: end;
}

.nav-links li{  
    font-size: 19px;
    color: white;
    &:hover{
        color: #ffffffe0;
    }
}

.active{
    color: #998ddd;
}

.logo{
    color: white;
    font-size: 50px;
    font-weight: 700;
}